doctype html
html(lang="ru")
    head
        title Подразделение разработки МИРЭА
        meta(http-equiv="Content-Language", content="ru")
        meta(charset="UTF-8")
        meta(content='width=device-width, initial-scale=1, maximum-scale=1', name='viewport')
        meta(name='description',
            content="")
        meta(name='keywords',
            content="")
        link(rel='author',
            href='https://github.com/mireadev')
        <!-- Fow social parsing -->
        meta(property="og:type",
            content="website")
        meta(property="og:title",
            content="")
        meta(property="og:site_name",
            content="")
        meta(property="og:url",
            content="")
        meta(property="og:description",
            content="")
        meta(property="og:image",
            content="")
        meta(property="og:image:secure_url",
            content="")
        meta(property="og:image:type",
            content="image/png")
        meta(property="og:image:width",
            content="1200")
        meta(property="og:image:height",
            content="630")
        <!-- Favicons -->
        link(rel="shortcut icon", href="favicon.ico")
        link(rel="icon", sizes="16x16 32x32", href="favicon.ico")
        link(rel="apple-touch-icon-precomposed", href="build/img/favicon/152.png")
        <!-- Styles -->
        link(rel='stylesheet', href='assets/material/material.min.css')
        link(rel='stylesheet', href='assets/css/style.min.css')
        <!-- Scripts -->
        //script(type='text/javascript' src='build/js/js.min.js')
    body
        div.mdl-layout.mdl-js-layout
            //Header nav
            header.mdl-layout__header.mdl-color--blue-grey
                div.mdl-layout__header-row
                    span.mdl-layout-title.my--large-screen-only Подразделение разработки
                    span.mdl-layout-title.my--small-screen-only MireaDev
                    div.mdl-layout-spacer
                    nav.mdl-navigation.mdl-layout--large-screen-only
                        a.mdl-navigation__link(href='#about') О нас
                        a.mdl-navigation__link(href='#contact') Связаться с нами
                        a.mdl-navigation__link(href='#join') Стать частью команды

            //Mobile nav
            div.mdl-layout__drawer
                span.mdl-layout-title Подразделение разработки
                nav.mdl-navigation
                    a.mdl-navigation__link(href='#about') О нас
                    a.mdl-navigation__link(href='#contact') Связаться с нами
                    a.mdl-navigation__link(href='#join') Стать частью команды

            //Header nav end
            main.mdl-layout__content
                div.page-content
                    //Image
                    div.container.parallaxOne
                        div.bg
                        div.jumbotron
                    //Image end

                    //Page content
                    div.container
                        //Info blocks
                        div.mdl-grid.flex-around
                            div.demo-card-square.mdl-card.mdl-shadow--2dp.mdl-cell--3-col
                                div.mdl-card__title.mdl-card--expand
                                    h2.mdl-card__title-text Update
                                div.mdl-card__supporting-text Lorem ipsum dolor sit amet, consectetur adipiscing elit.Aenan convallis.
                                div.mdl-card__actions.mdl-card--border
                                    a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect View Updates
                            div.demo-card-square.mdl-card.mdl-shadow--2dp.mdl-cell--3-col
                                div.mdl-card__title.mdl-card--expand
                                    h2.mdl-card__title-text Update
                                div.mdl-card__supporting-text Lorem ipsum dolor sit amet, consectetur adipiscing elit.Aenan convallis.
                                div.mdl-card__actions.mdl-card--border
                                    a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect View Updates
                            div.demo-card-square.mdl-card.mdl-shadow--2dp.mdl-cell--3-col
                                div.mdl-card__title.mdl-card--expand
                                    h2.mdl-card__title-text Update
                                div.mdl-card__supporting-text Lorem ipsum dolor sit amet, consectetur adipiscing elit.Aenan convallis.
                                div.mdl-card__actions.mdl-card--border
                                    a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect View Updates
                            div.demo-card-square.mdl-card.mdl-shadow--2dp.mdl-cell--3-col
                                div.mdl-card__title.mdl-card--expand
                                    h2.mdl-card__title-text Update
                                div.mdl-card__supporting-text Lorem ipsum dolor sit amet, consectetur adipiscing elit.Aenan convallis.
                                div.mdl-card__actions.mdl-card--border
                                    a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect View Updates

                        div.mdl-grid.flex-around
                            div.card-block.mdl-card.mdl-shadow--2dp.mdl-cell--12-col
                                div.mdl-card__title
                                    h2.mdl-card__title-text О нас
                                div.mdl-card__supporting-text.mdl-card--expand
                                    div.about-title Подразделение разработки [MireaDev]
                                    | Это студенческая структура, в которой ребята,
                                    | интересующиеся программированием, создают приложения для оптимизации жизни внутри МТУ,
                                    | а также проводят хакатоны, образовательные курсы и другие мероприятия, нацеленные на развитие в сфере ИТ.
                                    div.about-title.margin-top-32 Кураторы
                                    div.about-photos.mdl-grid.flex-around
                                        div.mdl-cell--3-col.flex-center
                                            img(src="build/img/about/photo.jpg")
                                            span.person-status Team lead
                                            span.person-desc Team lead
                                        div.mdl-cell--3-col.flex-center
                                            img(src="build/img/about/photo.jpg")
                                            span.person-status Android Dev
                                            span.person-desc Android Dev
                                        div.mdl-cell--3-col.flex-center
                                            img(src="build/img/about/photo.jpg")
                                            span.person-status Web Dev
                                            span.person-desc Web Dev
                                        div.mdl-cell--3-col.flex-center
                                            img(src="build/img/about/photo.jpg")
                                            span.person-status Designer
                                            span.person-desc Designer

                        div.mdl-grid.flex-around
                            div.demo-card-square.mdl-card.mdl-shadow--2dp.mdl-cell--12-col
                                div.mdl-card__title.mdl-card--expand
                                    h2.mdl-card__title-text Update
                                div.mdl-card__supporting-text Lorem ipsum dolor sit amet, consectetur adipiscing elit.Aenan convallis.
                                div.mdl-card__actions.mdl-card--border
                                    a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect View Updates
                //s
                    div.container.flex-center.flex-column
                        div.demo-card-square.mdl-card.mdl-shadow--2dp.mdl-cell--3-col
                            div.mdl-card__title.mdl-card--expand
                                h2.mdl-card__title-text Update
                            div.mdl-card__supporting-textLorem ipsum dolor sit amet, consectetur adipiscing elit.Aenan convallis.
                            div.mdl-card__actions.mdl-card--border
                                a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect View Updates
                        //Info blocks
                        div.rows.clearfix
                            div.col-lg-3.col-md-6.col-sm-12.col-xs-12
                                div.info-block.text-center
                                    div.key 60+
                                    div.value Участников

                            div.col-lg-3.col-md-6.col-sm-12.col-xs-12
                                div.info-block.text-center
                                    div.key 4
                                    div.value Вектора разработки

                            div.col-lg-3.col-md-6.col-sm-12.col-xs-12
                                div.info-block.text-center
                                    div.key 10+
                                    div.value Задач

                            div.col-lg-3.col-md-6.col-sm-12.col-xs-12
                                div.info-block.text-center
                                    div.key 1
                                    div.value Общая цель
                        //Info blocks end

                        //About us
                        div#about.panel.panel-primary.margin-top-25
                            div.panel-heading.bg-blue
                                h2.panel-title.text-center О нас

                            div.panel-body.text-center
                                div.about-title Подразделение разработки [MireaDev]
                                | Это студенческая структура, в которой ребята,
                                | интересующиеся программированием, создают приложения для оптимизации жизни внутри МТУ,
                                | а также проводят хакатоны, образовательные курсы и другие мероприятия, нацеленные на развитие в сфере ИТ.
                                div.about-title Кураторы
                                div.about-photos.clearfix
                                    div.col-md-3
                                        img(src="build/img/about/photo.jpg")
                                        span.person-status Team lead
                                        span.person-desc Team lead
                                    div.col-md-3
                                        img(src="build/img/about/photo.jpg")
                                        span.person-status Android Dev
                                        span.person-desc Android Dev
                                    div.col-md-3
                                        img(src="build/img/about/photo.jpg")
                                        span.person-status Web Dev
                                        span.person-desc Web Dev
                                    div.col-md-3
                                        img(src="build/img/about/photo.jpg")
                                        span.person-status Designer
                                        span.person-desc Designer

                        //About end

                        //Contact form
                        div#contact.panel.panel-primary.margin-top-25
                            div.panel-heading.bg-blue
                                h2.panel-title.text-center Связаться с нами

                            div.panel-body.text-center
                                span Если у Вас есть запрос на разработку какого-либо приложения, сайта, автоматизации какой-либо задачи или проведения мероприятия, то оставьте нам заявку
                                div.form-contact.clearfix
                                    div.col-md-6.center-block.float-none
                                        input.form-control(type="email", placeholder="Ваша почта")
                                        input.form-control(type="text", placeholder="Тема письма")
                                        textarea.form-control(type="text", placeholder="Текст письма")
                                        button(type="button").btn.bg-blue Отправить заявку



                        //Contact form end

                        //Join form
                        div#join.panel.panel-primary.margin-top-25
                            div.panel-heading.bg-blue
                                h2.panel-title.text-center Стать частью команды

                            div.panel-body.text-center
                                div
                                    | Самый простой способ — написать нам в&nbsp;
                                    a(href="") данной теме
                                    | .
                                div
                                    | Либо можно написать на почту&nbsp;
                                    a(href="mailto:team@mirea.top") team@mirea.top
                        //Join form end
                    //Page content end

                    //Footer
                    footer.mdl-mini-footer.flex-center.text-center.full-width
                        div.mdl-mini-footer__left-section.mdl-grid.flex-center
                            ul.mdl-mini-footer__link-list.footer-links.mdl-cell--6-col.flex-column
                                li
                                    span.fa-vk.fa.fa-lg.footer-icons
                                    a(href="https://vk.com/mireadev") ВКонтакте
                                li
                                    span.fa-github.fa.fa-lg.footer-icons
                                    a(href="https://github.com/mireadev/") GitHub
                            ul.mdl-mini-footer__link-list.footer-links.mdl-cell--6-col.flex-column
                                li
                                    span.fa-lightbulb-o.fa.fa-lg.footer-icons
                                    a(href="mailto:work@mirea.top") Предложения: work@mirea.top
                                li
                                    span.fa-file-text-o.fa.fa-lg.footer-icons
                                    a(href="mailto:press@mirea.top") Пресса: press@mirea.top
                            ul.mdl-mini-footer__link-list.footer-links.mdl-cell--12-col.flex-center.flex-column
                                li
                                    span 2016, MireaDev Team


script(src="build/js/js.min.js")
script(src="build/material/material.min.js")